body {
  font-family: "Raleway", sans-serif;
  color: #999;
}

button {
  justify-content: center;
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s ease;
  font-size: 1.2rem;
}

button:hover {
  background-color: #660000;
  color: #fff;
}

body {
  background-color: #333;
}

.banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  width: 950px;
  height: auto;
  transition: all 0.3s ease-in-out;
  text-align: center;
  transform: translateX(100%); /* Initially off-screen */
}
@media screen and (max-width: 60rem) {
  .cart {
    width: 600px;
  }
  .cart .cart__img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
  }
}
@media screen and (max-width: 48rem) {
  .cart {
    width: 100%;
  }
}

.cart.show {
  display: block;
  transform: translateX(0); /* Slide in */
}

.cart__img-wrapper {
  width: 100px;
}

.cart__item {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 60rem) {
  .cart__item {
    border-top: #999 1px solid;
  }
}

img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2px;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.title-wrapper .header__i {
  margin-left: 15px;
}

.icons-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-wrapper .feather {
  margin: 2px;
  cursor: pointer;
}

.cart__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-right: 15px;
  margin-left: 15px;
}
@media screen and (max-width: 60rem) {
  .cart__info {
    flex-direction: column;
  }
}

.procced-to-checkout button {
  background-color: #999;
}
.procced-to-checkout button:hover {
  background-color: #660000;
}

.products {
  display: grid;
  width: 85%;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  place-items: center;
  padding: 20px;
}
@media screen and (max-width: 70rem) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 60rem) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media screen and (max-width: 48rem) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.products article {
  width: 100%;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #fff;
  justify-content: space-between;
  text-align: center;
}
.products article .product__button {
  margin-bottom: 25px;
}
.products .product__button {
  justify-content: center;
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s ease;
  font-size: 1.2rem;
}
.products .product__button:hover {
  background-color: #660000;
  color: #fff;
}
.products .img_wrapper {
  width: 100%;
  height: 400px;
}
.products .img_wrapper img {
  width: 85%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
header img {
  max-width: 20%;
  max-height: 15vh;
}
header .feather {
  width: 65px;
  height: 65px;
}
header #shopping-cart {
  cursor: pointer;
}
header .header__div {
  position: relative;
  width: auto;
}
header .header__div .cart-badge {
  display: none;
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: #ff0000;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 50%;
}

.header__i {
  cursor: pointer;
}

.navbar {
  width: 20%;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}
.navbar li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar.show {
  transform: translateX(0);
}/*# sourceMappingURL=main.css.map */